.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}
h2 {
  display: flex;
  justify-content: center;
}
.bbutton {
  display: flex;
  justify-content: center;
}
.newtable {
  border-style: solid;
  border-color: red;
  display: flex;
  justify-content: center;
  width: 20%;
  background-color: black;
  color: white;
}
.wrapper {
  display: flex;
  justify-content: center;
}
