html {
  background: rgba(37, 55, 75, 0.9);
}

/* Navigation bar and the styling please dont edit */
.navbar {
  background-color: #4a6a8f;
}
.navbar-item {
  color: white;
}
.navbar-start {
  background-color: #3d94c4;
}
.table {
  text-align: center;
  border: 2px solid;
  width: 50%;
  margin: auto;
  margin-top: 100px;
}
h1 {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
}
