body {
}
.navbar {
  background-color: #4a6a8f;
}
.navbar-item {
  color: white;
}
.navbar-start {
  background-color: #3d94c4;
}
.navbar-menu a.navbar-item:hover {
  background-color: #ea8a45;
  color: white;
}
.box {
  width: 256px;
  height: 398px;
  left: 68px;
  top: 216px;
  background: #25374B;
  border-radius: 3px;
}
.menu-list, .menu-label {
  color: white;
}