/* body {
  background-color: #234a61;
} */

/* Header bar CSS */
/* .header {
  display: flex;
  justify-content: center;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 64px;
  color: #ffffff;
  width: 100%;
  letter-spacing: 0.03em;
  background: radial-gradient(
    40.86% 50% at 50% 50%,
    rgba(3, 210, 255, 0.58) 0%,
    rgba(19, 29, 39, 0.27) 100%
  );
} */

/* h1 {
  display: flex;
  justify-content: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  color: #ffffff;
} */
/* End of header bar css */

/* Navigation bar CSS */
/* .navbar {
  background-color: #4a6a8f;
} */
/* .navbar-item {
  color: white;
} */
/* .navbar-start {
  background-color: #3d94c4;
} */
/* .navbar-menu a.navbar-item:hover {
  background-color: #ea8a45;
  color: white;
}

.menu {
  height: 398px;
  width: 256px;
  left: 68px;
  top: 216px;
  border-radius: 3px;
}

.menu-list,
.menu-label {
  color: white;
  
  font-weight: 500;
 
  padding-left: 5mm;
  font-size: 10mm;
} */
/* End of header bar CSS */

/* Place holder for buttons at the top */
/* .pagebuttons {
  margin-top: 33px;
  justify-content: center;
  display: flex;
  width: 100%;
  height: 50px;
  background-color: #234a61;
}
.pagebuttons a {
  width: 230px;
  border-style: solid;
  background-color: #3d94c4;
  border-color: #4a6a8f;
  text-align: center;
  color: white;
} */
/* End */

/* Container for Satilite options for the map */
/* #satcontainer {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #234a61;
  display: flex;
  justify-content: center;
}
.emptyplaceholder{
  margin-top: 33px;
  width: 30%;
  background-color: #4a6a8f;
  justify-content: center;
  margin-bottom: auto;
  max-width: 313px;
  
}
.sat {
  margin-top: 33px;
  margin-left: 20px;
  width: 70%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
} */
/* End */

/* Container for the map and checkbox */
/* #wrap {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  background-color: #234a61;
  display: flex;
  justify-content: center;
} */
/* End */

/* Layers checkbox CSS */
/* .leftbox1 {
  width: 30%;
  background-color: #4a6a8f;
  max-width: 313px;
  padding-top: 10px;
  margin-top: 33px;
  justify-content: center;
  margin-bottom: auto;
}
li {
  background-color: #3d94c4;
  padding-left: 5mm;
  font-size: 6mm;
  letter-spacing: 1mm;
  border-style: solid;
  border-color: rgba(19, 29, 39, 0.27);
  border-right-color: #3d94c4;
  color: white;
} */
/* End */


/* CSS for the map */
/* #map {
  height: 600px;
  width: 70%;
  margin-left: 20px;
  margin-top: 33px;
  flex-wrap: wrap;
} */
/* End */

/* Container for Satilite options for the time series table */
/* #satcontainertwo {
  width: 100%;
  height: 60px;
  margin: 0 auto;
  background-color: #131d27;
  display: flex;
  justify-content: center;
}
.emptyplaceholdertwo{
  margin-top: 33px;
  width: 30%;
  background-color: #131d27;
  justify-content: center;
  margin-bottom: auto;
  max-width: 313px;
}
.sattwo {
  margin-top: 33px;
  margin-left: 20px;
  width: 70%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
} */
/* End */

/* Container for the Parameter check box and data */
/* .instrument_status {
  width: 100%;
  height: 700px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  background-color: #131d27;
} */
/* End */

/* Styling for the Parameter checkbox */
/* .leftbox2 {
  width: 30%;
  background-color: #4a6a8f;
  max-width: 313px;
  padding-top: 10px;
  margin-top: 33px;
  justify-content: center;
  margin-bottom: auto;
} */
/* end */

/* Syling for the times series placing */
/* .time-series-box {
  width: 70%;
  height: 600px;
  
  margin-top: 33px;
  background-color: white;
  margin-left: 20px;
} */

/* CSS for the footer */
/* .footer {
  background-color: #0e1316;
  display: flex;
  justify-content: center;
  padding: 0mm;
  bottom: 0px;
  width: 100%;
}

.wlogo {
  display: flex;
  justify-content: center;
  height: 20px;
} */
/* End */

