body {
  /* background: radial-gradient(
    40.86% 50% at 50% 50%,
    rgba(3, 210, 255, 0.78) 0%,
    rgba(19, 29, 39, 0.27) 100%
  ); */
  background: rgba(37, 55, 75, 0.9);
}
img {
  display: flex;
  justify-content: center;
}
p {
  display: flex;
  justify-content: right;
}
h1 {
  display: flex;
  justify-content: right;
}
ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4a6a8f;
}
li {
  float: left;
}
a {
  display: block;
  padding: 8px;
}
