body,html {
    background-color: #234a61;
    height: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Homepage */
  
  /* body {
    background: radial-gradient(
      40.86% 50% at 50% 50%,
      rgba(3, 210, 255, 0.78) 0%,
      rgba(19, 29, 39, 0.27) 100%
    );
    background: rgba(37, 55, 75, 0.9);
  }
  html {
    background: rgba(37, 55, 75, 0.9);
  }
  
  button {
    background-color: #3d94c4;
  }
  h2 {
    color: #ea8a45;
  }
  p {
    display: flex;
    justify-content: right;
    text-align: right;
  }
  
  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4a6a8f;
  }
  li {
    float: left;
  }
  a {
    display: block;
    padding: 8px;
  }
  
  .navbar {
    background-color: #4a6a8f;
  }
  .navbar-item {
    color: white;
  }
  .navbar-start {
    background-color: #3d94c4;
  }
  .navbar-menu a.navbar-item:hover {
    background-color: #ea8a45;
    color: white;
  }
  
  .footer {
    margin-top: 100%;
    background-color: #0E1316;
    display: flex;
    justify-content: center;
    padding: 0mm;
  }
  
  .wlogo {
    display: flex;
    justify-content: center;
    height: 20px;
  
  }  */
  
  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  
  .twitter-tweet {
    display: block;
    margin-left: auto;
    margin-right: -28;
    text-align: center;
  
  }

  /* STATUS PAGE */
  /* Header bar CSS */
  .header {
    display: flex;
    justify-content: center;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 64px;
    color: #ffffff;
    width: 100%;
    letter-spacing: 0.03em;
    background: radial-gradient(
      40.86% 50% at 50% 50%,
      rgba(3, 210, 255, 0.58) 0%,
      rgba(19, 29, 39, 0.27) 100%
    );
  }
  
.geo-data {
  justify-content: center;
  display: flex;
  width: 100%;
  margin-left: 20px;
}
.geo-data li {
  width: 100%;
  height: 40px;
  display: flex;
  flex-wrap: wrap;
  border-width: 1px;
  background-color: White;
  color: black;

  font-size: 20px;
  /* letter-spacing: 1mm; */
  border-style: solid;
  font-family: Roboto;
  font-style: normal;
  border-width: 1px;
}
  /* h1 {
    display: flex;
    justify-content: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    color: #ffffff;
    background: radial-gradient(
      40.86% 50% at 50% 50%,
      rgba(3, 210, 255, 0.58) 0%,
      rgba(19, 29, 39, 0.27) 100%
    );
  } */
  /* End of header bar css */
  
  /* Navigation bar CSS */
  .navbar {
    background-color: #4a6a8f;
  }
  .navbar-item {
    color: white;
  }
  .navbar-start {
    background-color: #3d94c4;
  }
  .navbar-menu a.navbar-item:hover {
    background-color: #ea8a45;
    color: white;
  }
  
  .menu {
    height: 398px;
    width: 256px;
    left: 68px;
    top: 216px;
    border-radius: 3px;
  }
  
  .menu-list,
  .menu-label {
    
    padding-left: 5mm;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
  }
  /* End of header bar CSS */
  
  /* Place holder for buttons at the top */
  .pagebuttons {
    margin-top: 33px;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 50px;
    background-color: #234a61;
  }
  
  .pagebuttons a {
    width: 230px;
    border-style: solid;
    background-color: #3d94c4;
    border-color: #25374B;
    text-align: center;
    color: white;
    border-radius: 4px;
    justify-content: center;
    display: flex;
  }
  /* End */
  
  /* Container for Satilite options for the map */
  .mapcont {
    height: 600px;
    width: 60%;
    margin-left: 20px;
    margin-top: 33px;
    flex-wrap: wrap;
    justify-content: center;
  }
  #satcontainer {
    width: 100%;
    height: 60px;
    /* margin: 0 auto; */
    background-color: #234a61;
    /* display: flex; */
    justify-content: center;
  }
  /* .emptyplaceholder{
    margin-top: 33px;
    width: 30%;
    background-color: #4a6a8f;
    justify-content: center;
    margin-bottom: auto;
    max-width: 313px;
  } */
  .sat {
    /* margin-top: 33px; */
    margin-left: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    
  }
  /* End */
  
  /* Container for the map and checkbox */
  #wrap {
    width: 100%;
    height: 730px;
    margin: 0 auto;
    background-color: #234a61;
    display: flex;
    justify-content: center;
  }
  /* End */
  
  /* Layers checkbox CSS */
  .leftbox1 {
    width: 30%;
    background-color: #4a6a8f;
    max-width: 313px;
    padding-top: 10px;
    margin-top: 33px;
    justify-content: center;
    margin-bottom: auto;
    background: #25374B;
  }
  .leftbox1 li {
    background-color: #3d94c4;
    padding-left: 5mm;
    font-size: 20px;
    /* letter-spacing: 1mm; */
    border-style: solid;
    border-color: #25374B;
    color: white;
    font-family: Roboto;
    font-style: normal;
    border-width: 1px;
  }
  /* End */
  
  
  /* CSS for the map */
  #mapone {
    height: 560px;
    /* height: 600px */
    width: 100%;
    margin-left: 20px;
    /* margin-top: 33px; */
    flex-wrap: wrap;
  }

  /* map slider bar and play button css */
#myProgress {
  width: 25%;
  /* background-color: #ddd; */
  display: flex;
  margin-bottom: 15px;
}
#slidecontainer {
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}

#playbutton {
  height: 30px;
  margin-bottom: 15px;
  margin-right: 15px;
}

  /* End */
  
  /* Container for Satilite options for the time series table */
  .timecont {
    height: 600px;
    width: 60%;
    margin-left: 20px;
    margin-top: 33px;
    flex-wrap: wrap;
    justify-content: center;
  }
  #satcontainertwo {
    /* width: 71.5%; */
    height: 60px;
    margin: 0 auto;
    background-color: #131d27;
    /* display: flex; */
    justify-content: center;
  }
  .emptyplaceholdertwo{
    margin-top: 33px;
    width: 30%;
    background-color: #131d27;
    justify-content: center;
    margin-bottom: auto;
    max-width: 313px;
  }
  .sattwo {
    margin-left: 20px;
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
  }
  .statusbutton{
    width: 50%;
  }
  /* End */
  
  /* Container for the Parameter check box and data */
  .instrument_status {
    width: 100%;
    height: 730px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: #131d27;
  }
  /* End */
  
  /* Styling for the Parameter checkbox */
  .leftbox2 {
    width: 30%;
    background-color: #4a6a8f;
    max-width: 313px;
    padding-top: 10px;
    margin-top: 33px;
    justify-content: center;
    margin-bottom: auto;
    background: #25374B;
  }

  .leftbox2 li {
    background-color: #3d94c4;
    padding-left: 5mm;
    font-size: 20px;
    /* letter-spacing: 1mm; */
    border-style: solid;
    border-color: #25374B;
    color: white;
    font-family: Roboto;
    font-style: normal;
    border-width: 1px;
  }
  /* end */
  
  /* Syling for the times series placing */
  .time-series-box {
    background-color: white;
    height: 600px;
    width: 100%;
    margin-left: 20px;
    /* margin-top: 33px; */
    flex-wrap: wrap;
  }
  
  /* CSS for the footer */
  .footer {
    background-color: #0e1316;
    display: flex;
    justify-content: center;
    padding: 0mm;
    /* position: absolute; */
    bottom: 0px;
    width: 100%;
  }
  .Qfooter{
    background-color: #0e1316;
    display: flex;
    justify-content: center;
    padding: 0mm;
    position: absolute;
    bottom: 0px;
    width: 100%;
  }

  .wlogo {
    display: flex;
    justify-content: center;
    height: 20px;
  }
  /* End */




  /* end of status page css */

  /* QUERY PAGE */

.mapheader,
.mapheader h3 {
  justify-content: center;
  height: 30px;
  color: #ea8a45;
  font-size: 100%;
  font-weight: 400;
  flex-wrap: wrap;
  justify-content: center;
}

#map {
  height: 600px;
  width: 50%;
  margin-left: 20px;
  margin-top: 33px;
  flex-wrap: wrap;
}

h2 {
  display: flex;
  justify-content: center;
}
.qpage{
  display: flex;
  flex-direction: row;
}
.actualtable{
  width: 30%;
  display: flex;
  justify-content: center;
  background-color: red;
  padding-top:10px;
  margin-left: 15%;
  margin-top: 2%;
}
table th {
  color: #363636;
  padding: 20px;
}

.section1 input, .section2 input{
background-color: green;

}

#startday{
  display: flex;
  margin: auto;
}
/* .actualtable tr{
  padding: 10%;
} */
.bottomtable {
  display: flex;
  justify-content: space-evenly;
}
#shour {
  background-color: blue;
  width: 40%;
  display: flex;
  margin: auto;
}
#email{
  display: flex;

  margin: auto;
}
.tooltip {
  display: flex;
  justify-content: center;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;

  /* Fade in tooltip */
  opacity: 0;
  transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.title.is-4 {
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}


.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
}

/* Navigation bar and the styling please dont edit */
.navbar {
  background-color: #4a6a8f;
}
.navbar-item {
  color: white;
}
.navbar-start {
  background-color: #3d94c4;
}


/* end of query page css */

.text{
  color: white;
}
/* .title{
  color: #EA8A45;
}
